body {
    margin:0;
    background-color: 222021;
}
ul.navbar {
    justify-content: left;
    display: flex;
    background-color:#222021;
    padding:0;
    margin:0;
    height:44;
    vertical-align: middle;
}
div.navbar {
    padding:0;
    background-color:#222021;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    font-family:lemonmilk;
}
li.navbar {
    padding:7;
    text-decoration:none;
    list-style-type: none;
    display:block;
    padding-right:20;
    padding-left:20;
    height:30;
    transition: 0.3s ease-out;
    padding-top: 13;
}
li.navbar:hover {
    background-color:#009dc4;
    transition: 0.3s ease-in;
}
li.active {
    background-color:#008db0;
    padding:7;
    font-weight:bold;
    text-decoration:none;
    list-style-type: none;
    display:block;
    padding-right:20;
    padding-left:20;
    height:30;
    transition: 0.3s ease-out;
    padding-top: 13;
}
a.navbar {
    text-decoration: none;
    color:black;
    font-size:18;
    color:white;
    display:block;
    height:60;
    
}
.navbutton {
    visibility:hidden;
    height:0;
    width:0;
}
div.body {
    padding:0;
    width:100%;
    margin: 0;
}
div.one {
    background-color:rgb(64, 64, 70);
    padding:20;
    margin:0;
    color:white;
    display:grid;
}
div.two {
    background-color:#008db0;
    padding:20;
    margin:0;
    color:white;
    text-align: center;
}
div.three {
    background-color:rgb(64, 64, 70);
    padding:20;
    margin:0;
    color:white;
    text-align: center;
}
div.footer {
    background-color: #222021;
    margin:0;
    padding:20;
    color: white;
    display:inline-block;
    text-align:center;
}
div.photos {
    background-color:rgb(64, 64, 70);
    color: white;
    padding:20;
    margin:0;
}
div.project {
    background-color:#008db0;
    padding:20;
    margin:0;
    color:white;
}
img.project {
    grid-column: right;
    width: 300;
    right: 0;
    margin-right: 5%;
    object-fit: cover;
    
}
img.photography {
    width:400;
    height:400;
    margin: 10;
    object-fit:fill;
}
h2 {
    font-weight: lighter;
    font-style: italic;
    font-family:callingcode;
}
h2.two {
    font-style:normal;
    margin: 20;
    margin-bottom: 40;
}
h1 {
    font-family: rockfordsans;
    font-size: 100;
}
h1.one {
    padding-left:0;
    grid-column:auto;
    vertical-align: middle;
}
h1.two {
    padding-left:0;
    padding-bottom:0;
    margin:0;
}
p.project {
    font-family: rockfordsans;
}
a.button {
    font-family: lemonmilk;
    font-size: 27;
    text-align: center;
    padding: 5;
    border-style: solid;
    border-color: white;
    transition: 0.2s ease-out;
    color: white;
    text-decoration: none;
}
a.button:hover {
    background-color: darkorange;
    border-color:darkorange;
    transition: 0.2s ease-in;
}
img.one {
    grid-column:right;
    padding:16;
    padding-bottom:0;
    width: 400;
    height:400;
    object-fit: cover;
}
@media only screen and (max-width: 1000px) {
    body {
        height:100%;
    }
    ul.navbar {
        display:inline-block;
        justify-content: center;
        height:100%;
        width:0%;
        visibility:hidden;
        float:left;
        grid-area:left;
    }
    div.navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 9;
    }
    a.navbar {
        color:white;
        font-size:18;
    }
    div.body {
        float: top;
        float:left;
        width:auto;
        grid-area:top;
        grid-area: right;
        margin:0;
        word-wrap: break-word;
        overflow: inherit;
    }
    .navbutton {
        border-width:0;
        padding:10;
        width:50;
        height:50;
        font-size:30;
        transition: 0.2s ease-out;
        background-color:222021;
        color:white;
        visibility:visible;
    }
    .navbutton:hover {
        background-color:#009dc4;
        transition: 0.2s ease-in;
    }
    h1 {
        font-size: 30;
    }
    h2 {
        font-size: 20;
    }
    img.one {
        width:200;
        height:200;
    }
    img.photography {
        width:90%
    }
    a.button {
        font-size: 16;
    }
    img.project {
        width:40%;
        object-fit: contain;
    }
}
@font-face {
    font-family: 'lemon_milkbold';
    src: url('fonts/lemonmilk-bold-webfont.woff2') format('woff2'),
         url('fonts/lemonmilk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lemonmilk';
    src: url('fonts/LEMONMILK-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'callingcode';
    src: url('fonts/callingcode-regular-webfont.woff2') format('woff2'),
         url('fonts/callingcode-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'rockfordsans';
    src: url('fonts/rockfordsans-light-webfont.woff2') format('woff2'),
         url('fonts/rockfordsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}